APP_ENV=local
APP_DEBUG=true
APP_URL=http://localhost/foodly

DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=foodly
DB_USERNAME=root
DB_PASSWORD=

MAIL_FROM_ADDRESS=no-reply@foodly.local
MAIL_FROM_NAME="Foodly"

RESET_TOKEN_EXPIRY_MINUTES=30

